/* src/styles/Header.css */
header {
  display: flex;
  /* justify-content: space-between;  */
  align-items: center;
  padding: 20px 40px;
  background-color:  #f9f9f9;
  color: black;
  /* position: sticky; */
  top: 0;
  margin-left: 20px;
  z-index: 1000;
  gap: 600px; /* space between logo and nav */
}

header h1.logo {
   margin-left: 50px;
  font-size: 24px;
  font-weight: bold;
  
}
header .logo h1{
    text-decoration: none;
    color:black;

}
header a {
    text-decoration: none;
    color: inherit;
}
nav ul {
  display: flex;
  gap: 50px; 
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li a {
  color: black;
  font-weight: 500;
  text-decoration: none;
  transition: 0.3s;
}

nav ul li a:hover {
  color: #f39c12;
}
