/* src/styles/ProductCard.css */
.product-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 items per row */
  gap: 15px;
}

.product-card {
    margin-top: 30px;
    width: auto;
    height: auto;
  background: #fff;
  border-radius: 8px;
  padding: 5px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  transition: transform 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
}

.product-card img {
  width: 100%;
  height: 280px;
  object-fit: cover;
  transition: filter 0.4s ease-in-out, transform 0.3s ease-in-out;
  border-radius: 6px;
}

.product-card:hover img {
  cursor: pointer;
  filter: grayscale(0%);
  transform: translateY(-10px);
}

.product-card h3 {
  font-size: 18px;
  margin: 12px 0 6px;
}

.product-card p {
    display: inline-block;
    margin-bottom: 20px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.add-to-cart-btn {
  padding: 8px 12px;
  margin-top: auto;      
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition: background 0.3s;
}

.add-to-cart-btn:hover {
  background-color: #333;
}
